@use "../default" as *;
@use "../mixin.scss" as mix;

#mobile-menu {
  display: none;

  @media (max-width: 1024px) {
    &#mobile-menu {
      display: block;
      position: relative;
      top: 2.5vh;

      .navigations {
        padding: 5% 0;
        width: 80%;
        list-style: none;
        position: absolute;
        z-index: 1;
        transform: translate(10%, -100vh);
        background-color: $Vary-Light-Gray;
        box-shadow: 0px 0px 100vh 0px rgba(0, 0, 0, 1);
        border-radius: 5px;
        transition: all 0.7s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5vh;

        .list-navigation {
          a {
            text-decoration: none;
            color: $Dark-Blue;
            font-weight: 700;
          }
        }
      }

      .navigations.active {
        transform: translate(10vw, 0);
      }
    }
  }
}
